
* {
    border-width: 1px;
    border-color: black;
}

.main {
    background: linear-gradient(to bottom, rgb(51,51,51) 0%,rgb(128,128,128) 100%);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 500px 500px;
    position: relative;
    margin: 0px;
}

.top {
    background: linear-gradient(to right, rgb(51,51,51) 0%,rgb(128,128,128) 50%,rgb(51,51,51) 100%);
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-style: solid;
    border-color: black;
    padding: 40px 528px;
    position: absolute;
    top: 0px;
    left: 14px;
    box-shadow: 2px 8px 5px rgb(31, 31, 31);
    z-index: 1
}

.top h1 {
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 40px;
    text-shadow: 0px 0px 20px rgb(88, 255, 21)
}

.inter {
    background: linear-gradient(to bottom, rgb(51,51,51) 0%,rgb(128,128,128) 75%);
    border-style: solid;
    border-top: none;
    border-color: black;
    padding: 250px 398px;
    position: absolute;
    top: 101px;
    left: 168px;
    box-shadow: 2px 8px 5px rgb(65, 65, 65);

}

.inter .but1 {
    position: absolute;
    top: 200px;
    left: 0px;

}

.but1 button {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to bottom, rgb(128,128,128) 0%,rgb(51,51,51) 100%);
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 3px 0px rgb(65, 65, 65);
}

.but1 button:hover {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to bottom, rgb(51,51,51) 0%,rgb(128,128,128) 100%);
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 3px 0px rgb(65, 65, 65);
}

.inter .but2 {
    position: absolute;
    top: 200px;
    left: 480px;
}

.but2 button {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to bottom, rgb(128,128,128) 0%,rgb(51,51,51) 100%);
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 0px 3px 0px rgb(65, 65, 65);
}

.but2 button:hover {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to bottom, rgb(51,51,51) 0%,rgb(128,128,128) 100%);
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 0px 3px 0px rgb(65, 65, 65);
}

.scolumn{
    position: relative;


}
.screen {
    background: linear-gradient(to right, rgb(51,51,51) 0%,rgb(65, 65, 65) 50%,rgb(51,51,51) 100%);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 375px;
    height: 300px;
    position: absolute;
    left: -305px;
    top: -150px;
}

.screen h3 {
    font-size: 9px;
    text-align: left;
    color: white;
    padding: 20px 0px 30px 5px;
    margin: 0px 0px 0px 0px
}

.screen .group1 {
    position: absolute;
    top: 100px;
    left: 0px;

}

.screen h2 {
    font-size: 13px;
    color: rgb(88, 255, 21);
    width: 260px;
    text-align: center;
    position: absolute;
    left: 55px;
    top: 40px;
}


.screen h4 {
    font-size: 9px;
    text-align: right;
    color: white;
    padding: 20px 0px 30px 5px;
    margin: 0px 0px 0px 0px
}

.screen .group2 {
    position: absolute;
    top: 100px;
    right: 0px;
}

.screen input {
    position: absolute;
    top: 100px;
    left: 110px;
}

.screen .input1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.screen .word1 {
    color: white;
    position: absolute;
    top: 100px;
    left: 130px;
}

.screen .word2 {
    color: white;
    position: absolute;
    top: 100px;
    left: 220px;

}




.slot{
    position: absolute;
    left: 68%;
    top: 25%; 
    font-size: 12px;
}

.slot .card {
    width: 170px;
    position: absolute;
    right: -104px;
    background: black;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
}




.slot .image img {
    position: absolute;
    width: 180px;
    left: -38px;
    height: 250px;
    top: 0;
    animation-name: none; 
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    clip-path: inset(0px 0px 0px 0px);
}

@keyframes example {
    0% {top: 0px; clip-path: inset(0px 0px 0px 0px);}
    50% {top: -218px; clip-path: inset(200px 0px 0px 0px);
    }
    100% {top: -235px; clip-path: inset(220px 0px 0px 0px);}
}



/* .slot .image img {
    top: -260px;
} */


.slot .cash {
    width: 250px;
    height: 15px;
    position: absolute;
    right: -145px;
    background: linear-gradient(to right, rgb(51,51,51) 0%,rgb(65, 65, 65) 50%,rgb(51,51,51) 100%);
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
}


.slot h2{
    color: white;
    text-shadow: 0px 0px 20px rgb(31, 31, 31);
}

.slot img {
    z-index: 2;
    width: 200%;
    
}

.pad {
    background:  linear-gradient(to bottom, rgb(51,51,51) 0%,rgb(128,128,128) 90%);
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 972px;
    height: 398px;
    position: absolute;
    top: 560px;
    left: 112px;
    transform: perspective(20px) rotatex(1deg);
}

.pad button{
    height: 60px;
    width: 80px;
    border-radius: 5px;
    align-content: left;
    margin: 20px 0px 0px 0px;
    background: linear-gradient(to bottom, rgb(128,128,128) 0%,rgb(51,51,51) 100%);
    color: white;
}

.pad button:hover{
    height: 60px;
    width: 80px;
    border-radius: 5px;
    align-content: left;
    margin: 20px 0px 0px 0px;
    background: linear-gradient(to bottom, rgb(51,51,51) 0%,rgb(128,128,128) 100%);
    color: white;
}

.pad .buttons {
    position: absolute;
    left: 100px;
    top: 50px;
}

.pad .buttons2 {
    position: absolute;
    right: 400px;
    top: 50px;
    color: white;

}

.pad .cancel {
    background: linear-gradient(to bottom, rgb(255, 13, 13) 0%,rgb(117, 0, 0) 100%);
}

.pad .cancel:hover {
    background: linear-gradient(to bottom, rgb(117, 0, 0) 0%,rgb(255, 13, 13) 100%);
}

.pad .clear {
    background: linear-gradient(to bottom, rgb(241, 255, 45) 0%,rgb(117, 99, 0) 100%);
}

.pad .clear:hover {
    background: linear-gradient(to bottom, rgb(117, 99, 0) 0%,rgb(241, 255, 45) 100%);
}


.pad .enter {
    background: linear-gradient(to bottom, rgb(40, 196, 19) 0%,rgb(0, 129, 0) 100%);
}

.pad .enter:hover {
    background: linear-gradient(to bottom, rgb(0, 129, 0) 0%,rgb(40, 196, 19) 100%);
}

.pad .receipt {
    color: white;
    position: absolute;
    right: -50px;
    top: 100px
}

.receipt button {
    background: black;
    height: 10px;
    width: 200px;
    border-color: grey;
    position: absolute;
    left: -20px;
}

.receipt button:hover {
    background: black;
    height: 10px;
    width: 200px;
    border-color: grey;
    position: absolute;
    left: -20px;
}

.receiptpaper {
    background: linear-gradient(to bottom, rgb(255,255,255) 19%,rgb(221,221,221) 99%);;
    width: 180px;
    height: 200px;
    position: absolute;
    padding: -10px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    left: 780px;
    top: 50px;
    transform: perspective(0px) rotatex(1deg);
    animation-name: none; 
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    clip-path: inset(220px 0px 0px 0px);
    z-index: 4;
};

.rcp {
    font-size: 5px;
    text-align: left;
}

.rcph {
    font-size: 12px;
    font-weight: thick;
    text-align: center;
}
 
@keyframes example1 {
    0% {top: 50px; clip-path: inset(250px 0px 0px 0px);}
    50% {top: 50px; clip-path: inset(200px 0px 0px 0px);}

    100% {top: 50px; clip-path: inset(0px 0px 0px 0px);}
};